{% load static %}
<!-- Category Area Starts -->
<section class="category-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-top text-center">
                    <h2>Find job by category</h2>
                    <p>Open lesser winged midst wherein may morning</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center mb-4">
                    <img src= "{% static 'images/cat1.png' %}" alt="category">
                    <h4>accounting & Finance</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center mb-4">
                    <img src="{% static 'images/cat2.png' %}" alt="category">
                    <h4>production & operation</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center mb-4">
                    <img src="{% static 'images/cat3.png' %}" alt="category">
                    <h4>telecommunication</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center mb-4">
                    <img src="{% static 'images/cat4.png' %}" alt="category">
                    <h4>garments & textile</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center mb-4 mb-lg-0">
                    <img src="assets/images/cat5.png" alt="category">
                    <h4>marketing and sales</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center mb-4 mb-lg-0">
                    <img src="assets/images/cat6.png" alt="category">
                    <h4>engineer & architech</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center mb-4 mb-md-0">
                    <img src="assets/images/cat7.png" alt="category">
                    <h4>design & crative</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="single-category text-center">
                    <img src="assets/images/cat8.png" alt="category">
                    <h4>customer support</h4>
                    <h5>250 open job</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Category Area End -->