<!-- Feature Area Starts -->
<section class="feature-area section-padding2">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-feature mb-4 mb-lg-0">
                    <h4>UX/UI Designer</h4>
                    <p class="py-3">There spirit beginning bearing the open at own every give appear in third you sawe two boys</p>
                    <a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-feature mb-4 mb-lg-0">
                    <h4>web Designer</h4>
                    <p class="py-3">There spirit beginning bearing the open at own every give appear in third you sawe two boys</p>
                    <a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-feature">
                    <h4>Accounting and Finance</h4>
                    <p class="py-3">There spirit beginning bearing the open at own every give appear in third you sawe two boys</p>
                    <a href="#" class="secondary-btn">explore now<span class="flaticon-next"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature Area End -->