{% load static %}
<!-- Jobs Area Starts -->
<section class="jobs-area section-padding3">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="jobs-title">
                    <h2>Browse recent jobs</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="jobs-tab tab-item">
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#recent" role="tab" aria-controls="home" aria-selected="true">recent</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#full-time" role="tab" aria-controls="profile" aria-selected="false">full time</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab" data-toggle="tab" href="#part-time" role="tab" aria-controls="part-time" aria-selected="false">part time</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="contact-tab2" data-toggle="tab" href="#intern" role="tab" aria-controls="intern" aria-selected="false">intern</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="recent" role="tabpanel" aria-labelledby="home-tab">
                        <div class="single-job mb-4 d-lg-flex justify-content-between">
                            <div class="job-text">
                                <h4>Assistant Executive - Production/ Quality Control</h4>
                                <ul class="mt-4">
                                    <li class="mb-3"><h5><i class="fa fa-map-marker"></i> new yourk, USA</h5></li>
                                    <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> Applied Chemistry & Chemical Engineering / Chemistry</h5></li>
                                    <li><h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5></li>
                                </ul>
                            </div>
                            <div class="job-img align-self-center">
                                <img src="{% static 'images/job1.png' %}" alt="job">
                            </div>
                            <div class="job-btn align-self-center">
                                <a href="#" class="third-btn job-btn1">full time</a>
                                <a href="#" class="third-btn">apply</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="full-time" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="single-job mb-4 d-lg-flex justify-content-between">
                            <div class="job-text">
                                <h4>Asst. Manager, Production (Woven Dyeing)</h4>
                                <ul class="mt-4">
                                    <li class="mb-3"><h5><i class="fa fa-map-marker"></i> new yourk, USA</h5></li>
                                    <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> Applied Chemistry & Chemical Engineering / Chemistry</h5></li>
                                    <li><h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5></li>
                                </ul>
                            </div>
                            <div class="job-img align-self-center">
                                <img src="{% static 'images/job2.png' %}" alt="job">
                            </div>
                            <div class="job-btn align-self-center">
                                <a href="#" class="third-btn job-btn2">full time</a>
                                <a href="#" class="third-btn">apply</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="part-time" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="single-job mb-4 d-lg-flex justify-content-between">
                            <div class="job-text">
                                <h4>Deputy Manager/ Assistant Manager - Footwear</h4>
                                <ul class="mt-4">
                                    <li class="mb-3"><h5><i class="fa fa-map-marker"></i> new yourk, USA</h5></li>
                                    <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> Applied Chemistry & Chemical Engineering / Chemistry</h5></li>
                                    <li><h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5></li>
                                </ul>
                            </div>
                            <div class="job-img align-self-center">
                                <img src="{% static 'images/job3.png' %}" alt="job">
                            </div>
                            <div class="job-btn align-self-center">
                                <a href="#" class="third-btn job-btn3">full time</a>
                                <a href="#" class="third-btn">apply</a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="intern" role="tabpanel" aria-labelledby="contact-tab2s">
                        <div class="single-job mb-4 d-lg-flex justify-content-between">
                            <div class="job-text">
                                <h4>R&D Manager (Technical Lab Department)</h4>
                                <ul class="mt-4">
                                    <li class="mb-3"><h5><i class="fa fa-map-marker"></i> new yourk, USA</h5></li>
                                    <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> Applied Chemistry & Chemical Engineering / Chemistry</h5></li>
                                    <li><h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5></li>
                                </ul>
                            </div>
                            <div class="job-img align-self-center">
                                <img src="{% static 'images/job4.png' %}" alt="job">
                            </div>
                            <div class="job-btn align-self-center">
                                <a href="#" class="third-btn job-btn4">full time</a>
                                <a href="#" class="third-btn">apply</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="single-job d-lg-flex justify-content-between">
                    <div class="job-text">
                        <h4>Manager/ Asst. Manager (Quality Assurance)</h4>
                        <ul class="mt-4">
                            <li class="mb-3"><h5><i class="fa fa-map-marker"></i> new yourk, USA</h5></li>
                            <li class="mb-3"><h5><i class="fa fa-pie-chart"></i> Applied Chemistry & Chemical Engineering / Chemistry</h5></li>
                            <li><h5><i class="fa fa-clock-o"></i> Deadline Deadline: Dec 11, 2018</h5></li>
                        </ul>
                    </div>
                    <div class="job-img align-self-center">
                        <img src="assets/images/job5.png" alt="job">
                    </div>
                    <div class="job-btn align-self-center">
                        <a href="#" class="third-btn job-btn2">full time</a>
                        <a href="#" class="third-btn">apply</a>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="more-job-btn mt-5 text-center">
            <a href="#" class="template-btn">more job post</a>
        </div>
    </div>
</section>
<!-- Jobs Area End -->