<!-- Search Area Starts -->
<div class="search-area">
    <div class="search-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form action="#" class="d-md-flex justify-content-between">
                        <select>
                            <option value="1">All Category</option>
                            <option value="2">Part Time</option>
                            <option value="3">Full Time</option>
                            <option value="4">Remote</option>
                            <option value="5">Office Job</option>
                        </select>
                        <select>
                            <option value="1">Select Location</option>
                            <option value="2">Dhaka</option>
                            <option value="3">Rajshahi</option>
                            <option value="4">Barishal</option>
                            <option value="5">Noakhali</option>
                        </select>
                        <input type="text" placeholder="Search Keyword" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'" required>
                        <button type="submit" class="template-btn">find job</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Search Area End -->