{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Page Title -->
    <title>Comport</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png' %}" type="image/x-icon">

    <!-- CSS Files -->
    <link rel="stylesheet" href="{% static 'css/animate-3.7.0.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome-4.7.0.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/flat-icon/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap-4.1.3.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    {% include "base/header.html" %}
    {% block home %}
    {% endblock home %}
    {% block about_us %}
    {% endblock about_us %}
    {% block jobs %}
    {% endblock jobs %}
    {% block sign_in %}
    {% block log_in %}
    {% block blog_home %}
    {% block create_job %}
    {% include "base/employee.html" %}
    {% endblock create_job %}
    {% endblock blog_home %}
    {% include "base/footer.html" %}
    {% endblock log_in %}
    {% endblock sign_in %}

    <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'js/vendor/bootstrap-4.1.3.min.js' %}"></script>
    <script src="{% static 'js/vendor/wow.min.js' %}"></script>
    <script src="{% static 'js/vendor/owl-carousel.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/vendor/ion.rangeSlider.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>